body {
  background: #f5f6f5;
  font-family: "Oswald", sans-serif;
}

.navbar {
  font-size: 22px;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 175px 0;
}
main {
  padding: 66px 0 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

table td {
  text-align: center;
  
}

table th {
  text-align: center;
  
}
