<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a href="/" class="mr-0 mr-md-5"><img src="/img/logo_main.png" alt="" class="logo" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {{#if user}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/links">Ver Links</a>
          <a class="dropdown-item" href="/links/add">Nuevo Link</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">Salir</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="/institution" class="nav-link">Institución</a>
      </li>
      <li class="nav-item">
        <a href="/mision" class="nav-link">Misión</a>
      </li>
      <li class="nav-item">
        <a href="/vision" class="nav-link">Visión</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contactos</a>
      </li>
      {{/if}}
    </ul>



    <div class="ml-auto">
      <ul class="navbar-nav">
        {{#if user}}
        <li class="nav-item dropdown mr-0 mr-md-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{user.Nombres}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/logout">Salir</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Perfil</a>

          </div>
        </li>
        <a href="/profile"><img src="/img/logo.png" alt="" class="logo" height="50"></a>
        {{else}}
        <li class="nav-item">
          <a href="/signin" class="btn btn-danger">Iniciar</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>