<main1 id="page-top">
    <div id="wrapper">
        {{> sidebar}}
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Panel</a></li>
                    <li class="breadcrumb-item"><a href="/local">Tipo de Local</a></li>
                    <li class="breadcrumb-item">Editar Local</li>
                </ol>
                <div class="container">
                    <div class="col-md-4 mx-auto">
                        <form action="/local/edit/{{local.idTLocal}}" method="POST"
                            enctype="multipart/form-data">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Editar Tipo de Local</h4>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <span class="col-md-12">
                                                <span>
                                                    <div class="form-group">
                                                        <input type="text" name="TLocal" placeholder="Tipo de Local"
                                                            class="form-control" value="{{local.TLocal}} "
                                                            autofocus>
                                                    </div>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row mx-auto float-right">
                                        <span>
                                            <button class="btn btn-primary">
                                                Guardar
                                            </button>
                                        </span>
                                        <span class="col-md-3">
                                            <a href="/local" class="btn btn-secondary">Cancelar</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</main1>